li:hover {
	background-image: linear-gradient(rgb(255, 204, 0) ,rgb(230, 184, 0));

}

li a:hover {
	color: black;}


#all:hover {
    background-image: linear-gradient(rgb(26, 26, 26),rgb(13, 13, 13) );

}

#all a:hover {
	color: rgb(255, 204, 0);}


