body{
	background-color: 	rgb(13, 13, 13);
	
}


a {
	font-family: monospace;
	text-decoration: none;
	color: #fff;
	font-size: 13px;
}

ul {
	position: relative;

	padding: 0;
	margin: 0;
	width: 100%;
	position: 
}

.menu {
	/*object */
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	
	margin: 0;
	border: 0;
	border: 0;
    
	width: 100%;
	min-width: 0;
	
	/* background */
	background: black;
	background-color: black;
	background-image: linear-gradient(black, rgb(128, 128, 128));

	/* text */
	text-align: center;
}

#all {
	background: black;
	background-color: black;
	background-image: linear-gradient(orange, rgb(128, 128, 128));
	
}

.menu-item{
	position: relative;
    display: inline-block;
	width: 9%;
	
	
	
}

.menu-item:before{
	display: block;
    content: '';
	width: 125px;
	
}



.menu:after {
    content: '';
    display: inline;
    width: 100%;
	top: 2px;

	
}

.video {
	padding: 0;
	margin: 0;
	background: black;
}